body{
    /*overflow: hidden;*/
}
.about-block{
    width: 100%;
    margin: 0 auto;
}
.about-block .block{
    width: 100%;
    height:600px;
    background-color: white;

}
.about-block{
    width: 100%;
    height: 600px;
    background: url("../images/background.jpg");

}
.about-block .block{

    width: 40%;
    height: auto;

    margin: 0 auto;
    position: relative;
    top: 10%;
    opacity: 0.9;
}
.block ul{
    width:100%;
    height:auto;
    background-color: white;
    margin: 0 auto;
    position: relative;
    top: 10%;
}
.block ul li{
    width: 80%;
    list-style: none;
    margin: 0 10px 20px 30px;
    padding-top: 30px;
    overflow: hidden;
    display: inline-block;
}
#label{
    width: 20%;
}
#text,#pass,#comfirm{
    width: 70%;
    height: 23px;
}
#submit{
    width: 100%;
    height:35px;
    border: 1px solid dodgerblue;
    background-color: #00b3ee;
    color: white;
    font-size: 18px;
}
.block ul li:nth-child(4){
    padding: 0;
    width: 100%;
    margin: 0 0 0 -15px;
    border: none;
}
.input_foot{
    width: 100%;
    height: 10%;
    text-align: center;
}
.register,.findpass{
    width: 35%;
    height: 100%;
    margin-left:10px;
    padding: 10px;
    display: inline-block;
}
.input_foot div a{
    text-decoration: none;
}
.block ul li:nth-child(5){
    width: 91%;
     margin: 0 0 0 15px;
     padding: 5px 0 25px 0;
    border-bottom: 1px dashed gray;
 }
.block ul li:nth-child(6){
    margin: 0;
    padding: 0;
}
#footer_ul{
    width: 100%;
    padding:0;
    text-align: center;
}
#footer_ul li
{
    width:30%;
    margin: 0;
padding-bottom: 20px;
}
.fa-qq{
   color: #00b3ee;
}
.fa-weixin{
    color: #00CC00;
}
.fa-weibo{
    color: red;
}
.message{
    background-color: red;
    width: 200px;
    height:30px;
    position: fixed;
    top:30%;
    right:20%;
    text-align: center;
    display: none;
}
